<header class="bg-primary dark:bg-transparent text-slate-200 w-full py-3 pl-3 dark:pl-1 pr-3 dark:pr-3
 dark:border-b dark:border-slate-400">
  <div class="responsive-container flex justify-between items-center">
    <a class="flex gap-3 dark:gap-2 items-center" href="#">
      <img [ngSrc]="src" width="40" height="40" priority="true" class="rounded-full">
      <h1 class="text-optima text-2xl dark:text-accent mt-1">Premier Link</h1>
    </a>
    <a class="btn-small btn-accent dark:btn-light btn-rounded">Registrati</a>
  </div>
</header>
<div class="py-3 px-5 text-text dark:text-text-dark responsive-container">
  <h2>blaaaaaaaaaaaaaaa</h2>
  <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Nulla numquam magni deserunt consequuntur, et quo unde sequi quam molestias eum dolor, nihil repellat optio incidunt alias? Maiores sunt quidem nihil.</p>
  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dignissimos quam amet nisi ea commodi doloribus minima quidem minus error! Animi voluptatum praesentium eaque voluptatem fuga illo nostrum unde, repudiandae officia!</p>
</div>
