$primary-default: #5b21b6;
$primary-hover: rgb(91, 33, 182, .8);
$secondary-default: #94a3b8;
$secondary-hover: rgb(203, 213, 225, .8);
$accent-dark: #fcd34d;
$accent-default: #fbbf24;
$accent-hover: rgb(252, 211, 77, .8);
$accent-hoverdark: rgb(253, 230, 138, .8);
$text-default: #0a0a0a;
$text-dark: #e2e8f0;
$success-default: #15803d;
$success-dark: #4ade80;
