@use '@angular/material' as mat;

@include mat.core();

$light-theme: mat.define-theme((color: (theme-type: light,
        primary: mat.$violet-palette,
        tertiary: mat.$yellow-palette,
      ),
      density: (scale: 0,
      )));

$dark-theme: mat.define-theme((color: (theme-type: dark,
        primary: mat.$violet-palette,
        tertiary: mat.$yellow-palette,
      ),
      density: (scale: 0,
      )));

:root {
  --mat-menu-container-color: #e2e8f0;
}

@media (prefers-color-scheme: dark) {
  :root {
    --mat-menu-container-color: #1e293b;
  }
}


:root {
  @include mat.all-component-themes($light-theme);
}

[data-theme='dark'] {
  @include mat.all-component-themes($dark-theme);
}

.mat-mdc-menu-item.separator {
  border-bottom: 1px solid #0a0a0a !important;
}

@media (prefers-color-scheme: dark) {
  .mat-mdc-menu-item.separator {
    border-bottom: 1px solid #94a3b8 !important;
  }
}


