@font-face {
  font-family: 'Optima';
  font-style: normal;
  font-weight: normal;
  src: local('Optima'), url('../public/fonts/OPTIMA.woff') format('woff');
}

@tailwind base;
@tailwind components;
@tailwind utilities;
@tailwind variants;

@layer base {

  .text-optima {
    font-family: 'Optima';
  }

  h2 {
    @apply font-sans font-bold mb-4 text-lg 3xs:text-xl 2xs:text-2xl xs:text-3xl sm:text-4xl md:text-5xl lg:text-6xl;
  }

}

@layer utilities {
  .responsive-container {
    @apply w-full md:container sm:max-w-full min-[769px]:w-11/12 lg:w-11/12 xl:w-11/12 mx-auto;
  }
}

@layer components {

  .btn {
    @apply px-8 py-3 text-xl rounded-lg transition-colors ease-in-out duration-300;
  }

  .btn-small {
    @apply px-3 py-1 text-base rounded-lg transition-colors ease-in-out duration-300;
  }

  .btn-primary {
    @apply bg-primary text-slate-100 hover:bg-primary-hover;
  }

  .btn-secondary {
    @apply bg-secondary text-zinc-950 hover:bg-secondary-hover;
  }

  .btn-accent {
    @apply bg-accent dark:bg-accent-dark text-zinc-950 hover:bg-accent-hover dark:hover:bg-accent-hoverDark;
  }

  .btn-light {
    @apply bg-slate-200 text-zinc-950;
  }

  .btn-rounded {
    @apply rounded-3xl;
  }

}


.active {
  @apply border-2 border-yellow-300 rounded-md
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
