@font-face {
  font-family: 'Optima';
  font-style: normal;
  font-weight: normal;
  src: local('Optima'), url('../public/fonts/OPTIMA.woff') format('woff');
}

@tailwind base;
@tailwind components;
@tailwind utilities;
@tailwind variants;

@layer base {

  .text-optima {
    font-family: 'Optima';
  }

}

@layer components {

  .btn {
    @apply px-8 py-3 text-xl rounded-lg transition-colors ease-in-out duration-300
  }

  .btn-primary {
    @apply bg-primary text-slate-100 hover:bg-primary-hover
  }

  .btn-secondary {
    @apply bg-secondary text-zinc-950 hover:bg-secondary-hover
  }

  .btn-accent {
    @apply bg-accent dark:bg-accent-dark text-zinc-950 hover:bg-accent-hover dark:hover:bg-accent-hoverDark
  }

  .btn-rounded {
    @apply rounded-3xl
  }

}


.active {
  @apply border-2 border-yellow-300 rounded-md
}
